# -*- coding: utf-8 -*-
# vim: ft=yaml
---
resolver:
  # On the off chance you don't want to manage resolver on a system
  enabled: false 

  # defaults to 'purged' because it conflicts with managing it in salt
  # so don't set to installed unless you know what you're doing
  pkg:
    name: resolver
    state: installed

  # On the off chance the resolv.conf goes somewhere unusual
  config: /etc/resolv.conf

  # Actual data that gets put into resolv.conf
  domain: example.com
  searchpaths:
    - example.com
    - example.org
  nameservers:
    - 8.8.8.8
    - 4.4.4.4
  options:
    - 'rotate'
    - 'timeout:1'
    - 'attempts:5'
